* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    scroll-behavior: smooth;
    padding-top: 130px;
}

nav {
    display: flex;
    background-color: green;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;

    padding: 1.5em;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

.hero p {
    margin: 1.5em 0;
}

.hero a {
    background-color: goldenrod;
}